form{
    display: flex;
    flex-direction: column;

    margin: 10px;
    
}

.login-cadastro{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
    margin-bottom: 700px;
}

h2{
    text-align: center;
    font-size: 26px;
    color: #7B429B;
    margin-bottom: 10px;
}

input[type="email"], 
input[type="password"],
input[type="text"]{
    outline: none;

    width: 400px;
    padding: 10px 10px;

    font-size: 20px;
}

input[type="submit"]{

    align-self: center;
    text-align: center;
    margin-top: 30px;

    
}

.caixa{
    padding: 20px 20px;
    gap: 40px;
}

.caixa-cadastro{
    height: 600px; 
}

/* Esqueci minha senha */
.login-cadastro form a{
    text-align: center;
    margin-top: -30px;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);

    transition: 300ms;
} 

.login-cadastro form a:hover{
    color: #7B429B;
    font-weight: bold;
    font-size: 17px;
}