@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Artifika", serif;
    box-sizing: border-box;
}

body {
    background-color: #4C3E5D;
    color: white;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}