@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Artifika", serif;
    box-sizing: border-box;
}

*::selection {
    background-color: #6e52ab;
    color: white;
}

body {
    background-color: #4C3E5D;
    color: white;
    display: grid;
    min-height: 100vh;
    align-content: space-between;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

.botao-geral{
    display: flex;
    align-items: center;

    text-decoration: none;
    font-size: 18px;
    font-family: "Alice", sans-serif;
    color: black;

    background-color: white;

    border: 1px solid black;
    border-radius: 25px;
    padding: 4px 12px;

    transition: 500ms;
}

/* Botão pesquisar */
.botao-geral img{
    height: 24px;
    border-right: 1px solid #a9a6a6;
    margin-right: 4px;
    padding-right: 4px;
}

.botao-geral:hover{
    cursor: pointer;
    color: #6e52ab;
    font-weight: bold;
}

input[type="search"]
{
    width: 100%;
}


.caixa {
    background-color: white;
    color: black;

    border: 5px solid transparent;
    border-radius: 25px;

    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to bottom, #ffcc80, #6e52ab) border-box;
    ;

    box-shadow: 4px 4px 20px rgba(0, 0, 0, .6);
}

.botao-click{
    height: 50px;
    width: 250px;

    border-radius: 25px;

    font-size: 24px;
    color: white;
    transition: 200ms;
}

.botao-click:hover{
    transform: scale(1.05);

}
