@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
/* font-family: "Artifika", serif; */

*{
    margin: 0;
    padding: 0;
    /* display: grid; */
    font-family: "Artifika", serif;
}
#todos-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: lightgrey;
    margin-top: 30px;

}

#todos-produtos h2{
    font-weight: 100;
    font-size: 48px;
    text-decoration: underline;
    
}
/* div i{
    position: absolute;
    right: 58%;
    top: 60px;
} */

#todos-produtos .search{
    height: 48px;
    width: 480px;
    
    border: 2px solid black;
    border-radius: 25px;
    background-color: transparent;
    color: #7B429A;
    font-size: 20px;
    font-weight: 500;
}

#lista-produtos .container figure {
    margin: 5px;
    background-color: #d9d9d9;
    text-align: center;
    padding: 15px 0;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
}
#lista-produtos .container figure figcaption{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.borda{

    background: linear-gradient(to bottom,#FFCC80, #6E52AB);
}