h1 {
    font-size: 80px;
    margin: 20px;
}

#carrinho, .carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrinho .caixa {
    width: 80%;

    padding: 30px;
    margin: 20px;
}

#carrinho .caixa tr {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
}

#carrinho th {
    font-size: 28px;
}

#carrinho td {
    font-size: 24px;
}
 

#carrinho th, #carrinho td {
    display: flex;
    align-items: center;
    justify-content: start;
    
    flex: 5;
    
    gap: 20px;
}

#carrinho th:not(:first-child), #carrinho td:not(:first-child) {
    flex: 3;
}

#carrinho th a {
    text-decoration: none;
    transition: 500ms;
    color: black;
}

#carrinho th a:hover {
    color: red;
}

#carrinho .caixa-produto{
    max-width: 125px;
    max-height: 125px;
}

.btn-deletar {
    width: 32px;
    height: 40px;
    
    background-color: transparent;
    background-image: url(../img/icon/icon-deletar.png);
    
    transition: 1000ms;
}

.btn-deletar:hover {
    cursor: pointer;
    background-image: url(../img/icon/icon-deletar-red.png);
}

#carrinho button {
    margin: 30px;
}

#carrinho a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 200ms;
}

.operacao-menos:hover {
    color: red;
}

.operacao-mais:hover {
    color: red;
}
