/* input[type="search"] {
    outline: none;
    color: #7B429B;
} */

#editar-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  gap: 30px;
}

#editar-produto form{
  display: flex;
  margin: 10px;
  align-items: flex-start;
}

#editar-produto form.caixa{
  padding: 20px 30px;
  gap: 40px;
  display: flex;
  width: 70%;

}
/* =========== ESQUERDA =========== */
#editar-produto form.caixa .esquerda{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

#editar-produto input[type="text"],
#editar-produto input[type="number"]
{
  outline: none;
  width: 100%;
  font-size: 20px;
}

#editar-produto .esquerda span.textarea{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: grey;
}
#editar-produto .esquerda span textarea{
  border-top: 1px solid grey;
  padding: 10px;

  width: 100%;
  
  outline: none;
  line-height: 20px;
  font-size: 16px;
}

/* =========== DIREITA =========== */
#editar-produto form.caixa .direita{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 20px;
  font-size: 20px;
  outline: none;
}

  