#login-cadastro form{
    display: flex;
    flex-direction: column;

    margin: 10px;
    
}

#login-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* gap: 100px; */
    margin-bottom: 50px;
    flex-direction: column;

}

#login-cadastro h2{
    text-align: center;
    font-size: 26px;
    color: #7B429B;
    margin-bottom: 10px;
}

#login-cadastro .dados-pessoais{
    margin-top: 50px;
}

#login-cadastro input[type="email"], 
#login-cadastro input[type="password"],
#login-cadastro input[type="text"],
#login-cadastro input[type="tel"],
#login-cadastro input[type="number"]
{
    outline: none;

    width: 400px;
    padding: 10px 10px;

    font-size: 20px;
}

#login-cadastro input[type="submit"]{

    align-self: center;
    text-align: center;
    margin-top: 30px;

    
}

#login-cadastro form.caixa{
    padding: 20px 30px;
    gap: 40px;
}

#login-cadastro form.caixa-cadastro{
    height: max-content;
    width: max-content;
}

/* Esqueci minha senha */
#login-cadastro form a{
    text-align: center;
    margin-top: -30px;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);

    transition: 300ms;
} 

#login-cadastro form a:hover{
    color: #7B429B;
    font-weight: bold;
    font-size: 17px;
}

/* --------------------- */

#login-cadastro form .campos{
    display: flex;
    gap: 20px;
}

#login-cadastro form .botao-geral{
    width: 400px;
    
}

#login-cadastro .escondido{
    display: none;
}

#login-cadastro .botao-cadastrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}