/* Começo da Nav */

#menu .nav {
    background: linear-gradient(270deg,
            rgba(110, 82, 171, 0.6),
            rgba(255, 204, 128, 0.6)),
        url(../img/background/nav-bg.png);

    padding: 1rem 0 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#menu .nav .row {
    display: flex;
    align-items: center;

    width: 100%;
}

#menu .nav .col h1 {
    font-family: "Alice", sans-serif;
    font-size: 100px;

    text-transform: uppercase;
    text-align: center;

    color: #7B429A;
}

#menu .nav .col {
    display: flex;

    gap: 1rem;
}

/* #menu .nav .col a {
    display: flex;
    align-items: center;

    text-decoration: none;

    font-size: 24px;
    font-family: "Alice", sans-serif;

    background-color: white;
    color: black;

    border: 1px solid black;
    border-radius: 25px;

    padding: 8px 12px;
}

#menu .nav .col a img {
    border-right: 1px solid #A9A6A6;
    margin-right: 4px;
    padding-right: 4px;
} */

/* Fim da Nav */

/* começo do Footer  */

.footer {
    background-color: #241D33;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;

    padding: 1rem 0;

    box-shadow: 0 -15px 30px rgba(0, 0, 0, .25);
}

.footer h4 {
    font-size: 24px;
}

.footer p {
    font-size: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-sociais {
    display: flex;
    gap: 4px;
}

/* Fim do Footer */

/* Correção da Nav e Footer */

@media screen and (max-width: 768px) {
    #menu .nav {
        flex-direction: column;
        gap: 24px;
    }

    #menu .nav .col h1{
        font-size: 60px;
    }

    .footer {
        flex-direction: column;
        gap: 24px;
        padding-bottom: 240px;        
    }

    .footer h4 {
        font-size: 16px;
    }
    .footer p {
        font-size: 12px;
    }

    .footer-sociais img {
        width: 40px;
    }

    .footer .col > a img{
        display: none;
    }
}