body {
    display: grid;
}

#produtos {
    display: flex;
    padding: 0 2vw;
    margin-top: 20px;
    gap: 10%;
}

/* COLUNAS */
.produtos-esquerda {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.produtos-meio {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.produtos-direita {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* -------------------- */

/* COLUNA DO MEIO DA PÃGINA */
#produtos .produtos-meio .titulo-produtos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#produtos .produtos-meio .titulo-produtos h2 {
    text-decoration: underline;
    font-size: 26px;

}

/* Campo Pesquisar */

.titulo-produtos>.botao-geral {
    width: 60%;
}

input[type="search"] {
    outline: none;
    color: #7B429B;
}

/* BOX DE PRODUTOS */
#produtos .lista-produtos {
    margin: 30px 0;
    /* border: 1px solid tomato; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* cada produtinho */

#produtos .lista-produtos .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    text-decoration: none;

    background:
        linear-gradient(#B49B8A, #B49B8A) padding-box,
        linear-gradient(to bottom, #ffcc80, #6e52ab) border-box;
    ;
    color: black;
    font-weight: 600;
    gap: 5px 0;
    border: 5px solid transparent;
    border-radius: 25px;
    padding: 8px 4px;

    box-shadow: 4px 4px 20px rgba(0, 0, 0, .6);

    transition: 500ms;
}

#produtos .lista-produtos .item a {
    text-decoration: none;
    color: black;
}

#produtos .lista-produtos .item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#produtos .lista-produtos .item img {
    width: 100%;
    max-width: 200px;
}

/* adicionar ao carrinho */
#produtos .lista-produtos .item .adicionar {
    margin-top: 10px;
    background-color: #6e52ab;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 12px;
    color: white;
}

#produtos .lista-produtos .item .adicionar:hover {
    cursor: pointer;
    color: #ffcc80;
    transition: 200ms;
    transform: scale(1.05);
}

/* COLUNA DA ESQUERDA (FILTROS) */

#produtos .produtos-esquerda h2,
#produtos .produtos-direita h2 {
    text-align: center;
    font-size: 26px;
    color: #7B429B;
    margin-bottom: 10px;
}

#produtos .produtos-esquerda ul {
    padding: 20px;
}

#produtos .produtos-esquerda ul li {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-decoration: none;

}

/* Filtros */
input[type=checkbox] {
    accent-color: #7b429b;
    color: #7B429B;

    vertical-align: middle;
    height: 20px;
    width: 20px;
}

li:has(input:checked) {
    color: #7B429B;
    font-weight: bold
}

#cb-todos {
    border: 1px solid #6e52ab;
}

/* BOTAO FILTRAR */
#produtos .produtos-esquerda button {
    /* color: #6e52ab; */
    padding: 12px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    transition: 200ms;

}

#produtos .produtos-esquerda button:hover {
    color: #6e52ab;
    font-weight: bold;
    font-size: 26px;
}

/* ---------------- */
/* PRODUTOS DIREITA (CARRINHO) */

#produtos .produtos-direita {
    padding: 8px 4px;
    min-width: 200px;
}


#produtos .produtos-direita .carrinho {
    padding: 4px;
    gap: 8px;
}

#produtos .produtos-direita .carrinho .carrinho-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#produtos .produtos-direita .carrinho .carrinho-item img {
    width: 75px;
    height: 75px;
}

#produtos .produtos-direita a {
    align-self: center;
}

#produtos .produtos-direita .adicionar {
    align-self: center;
    margin-top: 10px;
    background-color: #6e52ab;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 12px;
    color: white;
}

#produtos .produtos-direita .adicionar:hover {
    cursor: pointer;
    color: #ffcc80;
    transition: 200ms;
    transform: scale(1.05);
}