#produto-selecionado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 10px 0 45px;
}

#produto-selecionado h1{
    text-align: center;
    font-size: 62px;

    margin: 100px 0;
}

#produto-selecionado figure {
    display: grid;
    /* place-items: start; */
    grid-template-columns: 1fr 2fr;

    width: 70vw;
    gap: 20px;
}

#produto-selecionado figure .produto-img-tag {
    display: grid;
    place-items: center;
    margin-right: 50px;
}

#produto-selecionado figure .produto-img-tag img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

figure > div:has(span) {
    margin-top: 20px;
}
figure > div > span {
    font-size: 28px;
    text-align: justify;
    margin-top: 20px;
}

figure small {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 90%;
}

.tags {
    display: flex;
    justify-content: center;

    margin: 20px 0;
    gap: 10px;
}

.tags span {
    background-color: #353535;
    
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 30px;
}

.preco-adicionar{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;

    width: 70vw;
    gap: 20px;
}

.botao-click {
    text-decoration: none;
}

.torta {
    background-color: #ffcc80;
}