#produto-selecionado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 10px 0 45px;
}

#produto-selecionado h1{
    text-align: center;
    font-size: 80px;

    margin: 100px 0;
    color: #ffcc80;
}

#produto-selecionado figure {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;

    width: 60vw;
    gap: 20px;
}

#produto-selecionado figure .produto-img-tag {
    display: grid;
    place-items: center;
}

#produto-selecionado figure .caixa-produto{
    width: 300px;
}

figure > div > span {
    font-size: 28px;
    text-align: justify;
}

figure small {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.tags {
    display: flex;
    justify-content: center;

    margin: 20px 0;
    gap: 10px;
}

.tags span {
    background-color: #353535;
    
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 30px;
}

.preco-adicionar{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;

    width: 60vw;
    gap: 20px;
}

.torta {
    background-color: #ffcc80;
}