body {
    min-height: 100vh;
}


.quem-somos div {
    display: flex;
    flex-direction: column;

    width: 60%;
    margin: 0 auto;
    text-align: justify;
    font-size: 30px;
    gap: 50px;

}

.quem-somos div h1{
    text-align: center;
}

.quem-somos div h3 {
    color: #ffcc80;
}

.quem-somos div strong{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.quem-somos div strong::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url(../img/icon/decoracao-estrela.png);
    background-size: cover;
}

.quem-somos div strong::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-image: url(../img/icon/decoracao-estrela.png);
    background-size: cover;
}
