@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Artifika", serif;
    box-sizing: border-box;
}

*::selection {
    background-color: #6e52ab;
    color: white;
}

body {
    background-color: #4C3E5D;
    color: white;
    display: grid;
    min-height: 100vh;
    align-content: space-between;
}

h1 {
    color: #ffcc80;
    text-align: center;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

.botao-geral {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-size: 18px;
    font-family: "Alice", sans-serif;
    color: black;

    background-color: white;

    border: 1px solid black;
    border-radius: 25px;
    padding: 4px 12px;

    transition: 500ms;
}

/* Botão pesquisar */
.botao-geral img {
    height: 24px;
    border-right: 1px solid #a9a6a6;
    margin-right: 8px;
    padding-right: 8px;
}

input[type="search"] {
    width: 100%;
}


.caixa {
    background-color: white;
    color: black;

    width: max-content;
    height: max-content;

    border: 5px solid transparent;
    border-radius: 25px;

    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to bottom, #ffcc80, #6e52ab) border-box;
    ;

    box-shadow: 4px 4px 20px rgba(0, 0, 0, .6);
}

.caixa-produto {
    display: flex;
    flex-direction: column;
    align-items: center;

    background:
        linear-gradient(#B49B8A, #B49B8A) padding-box,
        linear-gradient(to bottom, #ffcc80, #6e52ab) border-box;
    ;
    color: black;
    font-weight: 600;
    gap: 5px 0;
    border: 5px solid transparent;
    border-radius: 25px;
    padding: 8px 4px;

    box-shadow: 4px 4px 20px rgba(0, 0, 0, .6);

    transition: 500ms;
}

.caixa-produto:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.botao-click {
    height: 50px;
    width: 250px;

    border-radius: 25px;

    font-size: 24px;
    color: white;
    transition: 300ms;

    background-color: #7B429B;
    color: white;
}

.botao-click:hover {
    transform: scale(1.05);

}